# STAT 207 Lab Assignment 9 - Group Part - 9 points


# <u>Case Study</u>: Exploring the Impact of Scaling on Regularization Models


## Dataset

Let's return to the dataset that was used in our Midterm 1 exam. The data in the `video_game_sales_sample.csv` file contains information about a sample of video games released between 1995 and 2016.

* `NA_Sales`: yearly total European sales (in millions of dollars) of the video game
* `EU_Sales`: yearly total European sales (in millions of dollars) of the video game
* `JP_Sales`: yearly total Japanese sales (in millions of dollars) of the video game
* `Other_Sales`: yearly total sales in other countries (in millions of dollars) of the video game
* `Year`: the year that video game was released
* `Genre`: (just considering action or strategy in this analysis) genre of the video game
* `Platform`: (just considering PS, PS2, PS3, DS, and Wii in this analysis) platform of the video game

## Learning Goals

We would like to explore how a resulting regularization model output might change based on the scale of the explanatory variables.


## Points

<p>&nbsp;</p>
<table style="border: none;border-collapse: collapse;width:102pt;">
    <tbody>
        <tr>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;width:51pt;">Problem</td>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:general;vertical-align:bottom;border:.5pt solid black;border-left:none;width:51pt;">Points</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">1.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">1.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">1.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">1.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">1.5</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">2.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.75</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">2.2.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">2.2.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">2.2.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">2.2.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">2.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.75</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">3.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">3.2.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">3.2.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">3.2.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">3.2.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">3.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.75</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">4.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">4.2.1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">4.2.2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">4.2.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">4.2.4</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;height:14.25pt;border-top:none;">4.3</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid black;border-top:none;border-left:none;">0.75</td>
        </tr>
    </tbody>
</table>

In [292]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing import StandardScaler

Dev Rishi Udata - dudata2@illinois.edu
Collaborated on almost all questions.

## 1. Basic Data Examination and Cleaning

### 1.1. Reading the Dataset and Detecing Any Implicit Missing Values

1. **Reading and Implicit Missing Value Conversion**: Read this csv file into a dataframe. This csv file may contains implicit missing values in our intended numerical variables! Make sure that when you read your csv file into your dataframe (the final time), that any implicit missing values in the numerical variable columns have been converted into NaN values.

2. **Display your dataframe.**

3. **Show how many rows your dataframe has.**

In [293]:
df = pd.read_csv('video_game_sales_sample.csv',na_values=['nan','unknown'])
df.head()

,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Saints Row IV,PS3,2013.0,Action,0.56,0.44,0.09,0.21
1,Treasures of the Deep,PS,1997.0,Action,0.10,0.07,0.00,0.01
2,Skylanders: Spyro's Adventure,Wii,2011.0,Action,1.40,1.14,0.00,0.31
3,LEGO Batman: The Videogame,PS2,2008.0,Action,0.72,0.03,0.00,0.52
4,Carnage Heart,PS,1995.0,Strategy,0.01,0.01,0.09,0.01

In [294]:
df.shape[0]

1034

In [295]:
df['Year'].unique()

array([2013., 1997., 2011., 2008., 1995., 2007., 2003., 2009., 2015.,
       2005., 2012., 2010., 2001., 1996., 1999., 1998., 2000., 2006.,
         nan, 2002., 2004., 2014., 2016.])

In [296]:
df['NA_Sales'].unique()

array([0.56, 0.1 , 1.4 , 0.72, 0.01, 0.  , 0.07, 0.26, 0.11, 0.14, 0.21,
       0.61, 0.15, 0.08, 0.05, 0.29, 2.45, 0.17, 0.19, 0.16, 0.35, 0.63,
       0.04, 0.02, 0.23, 0.2 , 0.06, 0.13, 0.48, 0.42, 1.89, 0.12, 0.52,
       0.44, 0.39, 0.25, 0.18, 1.43, 0.03, 0.22, 0.09, 0.24, 0.8 , 0.78,
       0.47, 0.31, 1.46, 0.82, 0.85, 0.27,  nan, 0.37, 0.38, 1.96, 0.6 ,
       1.01, 2.32, 0.55, 0.54, 1.79, 0.58, 1.56, 0.28, 0.34, 2.64, 0.33,
       0.57, 0.45, 1.41, 0.88, 1.07, 0.71, 1.12, 1.15, 1.06, 0.41, 0.4 ,
       0.86, 1.29, 0.65, 1.3 , 1.88, 1.78, 2.63, 0.75, 6.99, 2.05, 0.3 ,
       0.32, 0.43, 0.87, 0.46, 0.64, 1.42, 0.93, 1.21, 0.66, 0.53, 1.05,
       1.54, 3.11, 0.99, 2.7 , 2.31, 1.82, 0.81, 0.5 , 1.27, 0.51, 0.67,
       1.59, 1.48, 0.96, 2.77, 0.76, 0.36, 0.59, 1.9 , 1.34, 2.89, 0.79,
       2.71, 3.27, 1.23, 2.14, 0.69, 3.79, 2.74, 7.01, 0.73, 1.36, 2.36,
       3.18, 1.7 , 1.98])

### 1.2. Dropping Unneeded Variables

We only intend to use the `NA_Sales, EU_Sales, JP_Sales, Other_Sales, and Year` variables in this analysis. Drop all other variables from the dataset.

In [297]:
df_five = df[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Year']]
df_five

      NA_Sales  EU_Sales  JP_Sales  Other_Sales    Year
0         0.56      0.44      0.09         0.21  2013.0
1         0.10      0.07      0.00         0.01  1997.0
2         1.40      1.14      0.00         0.31  2011.0
3         0.72      0.03      0.00         0.52  2008.0
4         0.01      0.01      0.09         0.01  1995.0
...        ...       ...       ...          ...     ...
1029      0.37      0.47      0.54         0.07  2004.0
1030      0.00      0.00      0.26         0.00  2007.0
1031      0.22      0.03      0.08         0.02  2007.0
1032      0.30      0.23      0.00         0.09  2011.0
1033      0.01      0.01      0.00         0.00  1998.0

[1034 rows x 5 columns]

### 1.3. Dropping Missing Values

Drop all rows in this dataframe with a missing value. How many rows did you drop?

In [298]:
df_five['NA_Sales'].unique()

array([0.56, 0.1 , 1.4 , 0.72, 0.01, 0.  , 0.07, 0.26, 0.11, 0.14, 0.21,
       0.61, 0.15, 0.08, 0.05, 0.29, 2.45, 0.17, 0.19, 0.16, 0.35, 0.63,
       0.04, 0.02, 0.23, 0.2 , 0.06, 0.13, 0.48, 0.42, 1.89, 0.12, 0.52,
       0.44, 0.39, 0.25, 0.18, 1.43, 0.03, 0.22, 0.09, 0.24, 0.8 , 0.78,
       0.47, 0.31, 1.46, 0.82, 0.85, 0.27,  nan, 0.37, 0.38, 1.96, 0.6 ,
       1.01, 2.32, 0.55, 0.54, 1.79, 0.58, 1.56, 0.28, 0.34, 2.64, 0.33,
       0.57, 0.45, 1.41, 0.88, 1.07, 0.71, 1.12, 1.15, 1.06, 0.41, 0.4 ,
       0.86, 1.29, 0.65, 1.3 , 1.88, 1.78, 2.63, 0.75, 6.99, 2.05, 0.3 ,
       0.32, 0.43, 0.87, 0.46, 0.64, 1.42, 0.93, 1.21, 0.66, 0.53, 1.05,
       1.54, 3.11, 0.99, 2.7 , 2.31, 1.82, 0.81, 0.5 , 1.27, 0.51, 0.67,
       1.59, 1.48, 0.96, 2.77, 0.76, 0.36, 0.59, 1.9 , 1.34, 2.89, 0.79,
       2.71, 3.27, 1.23, 2.14, 0.69, 3.79, 2.74, 7.01, 0.73, 1.36, 2.36,
       3.18, 1.7 , 1.98])

In [299]:
df_five['EU_Sales'].unique()

array([0.44, 0.07, 1.14, 0.03, 0.01, 0.  , 0.1 , 0.18, 0.14, 0.02, 0.09,
       0.17, 0.48, 0.08, 0.26, 0.04, 0.24, 0.13, 2.01, 0.11, 0.12, 0.15,
       0.2 , 0.05, 0.37, 0.54, 0.16, 0.41, 1.05, 0.63, 0.23, 0.94, 0.06,
       0.19, 0.32, 0.29, 0.22, 0.66, 1.43, 0.9 , 0.6 , 0.28, 0.35, 1.06,
       0.25, 0.21, 0.88, 2.56, 0.39, 0.4 , 0.36, 1.02, 0.58, 0.5 , 0.3 ,
       0.82, 0.97, 0.45, 1.47, 1.12, 0.33, 1.74, 0.67, 5.05, 1.09, 4.51,
       1.16, 0.34, 0.31, 0.49, 1.03, 0.77, 0.61, 0.46, 0.56, 0.43, 0.81,
       2.02, 2.8 , 0.27, 1.91, 1.73, 0.57, 1.24, 0.38, 0.55, 0.8 , 0.73,
       1.08, 0.65, 1.01, 0.47, 1.11, 1.83, 1.54, 1.35, 1.29, 1.07, 2.25,
       0.52, 1.77, 1.2 , 0.83, 1.36, 9.27, 0.76, 0.71, 1.15, 1.33, 2.1 ,
       0.7 , 0.72, 0.86])

In [300]:
df_five['JP_Sales'].unique()

array([0.09, 0.  , 0.44, 0.19, 0.33, 0.03, 0.21, 0.35, 0.01, 0.23, 0.86,
       0.87, 0.04, 0.02, 0.25, 0.08, 0.26, 0.53, 0.05, 0.06, 0.74, 0.16,
       0.1 , 0.75, 0.64, 0.59, 0.83, 0.24, 1.08, 0.17, 0.32, 0.58, 0.14,
       0.13, 0.57, 0.31, 0.46, 0.07, 0.28, 0.12, 0.27, 0.6 , 0.11, 0.2 ,
       0.38, 0.36, 0.18, 0.63, 2.02, 0.51, 0.3 , 1.11, 0.22, 1.54, 0.34,
       0.42, 0.29, 0.15, 0.47, 0.41, 0.91, 1.09, 1.13, 0.95, 0.54, 0.49,
       0.62, 0.37, 0.97, 0.7 , 0.78])

In [301]:
df_five['Other_Sales'].unique()

array([0.21, 0.01, 0.31, 0.52, 0.  , 0.04, 0.03, 0.02, 0.06, 0.16, 0.07,
       0.09, 0.72, 0.05, 0.14, 0.25, 0.11, 0.15, 0.1 , 0.08, 0.27, 0.41,
       0.13, 1.93, 0.22, 0.65, 0.37, 1.67, 0.29, 0.12, 1.14, 0.18, 0.24,
       0.17, 0.19, 0.28, 0.39, 0.23, 0.45, 0.83, 2.01, 1.3 , 0.73, 1.13,
       0.33, 0.8 , 0.78, 0.34, 0.53, 0.26, 0.3 , 1.06, 0.36, 0.4 , 0.49,
       0.46, 0.43, 1.  , 0.2 , 0.74, 0.63, 4.14, 0.76])

In [302]:
df_five.shape[0]

1034

In [303]:
df_five = df_five.dropna()

In [304]:
df_five.shape[0]

1011

### 1.4. Features Matrix and Target Array 

Use this full dataset (ie. not one that has been split into training or test dataset) to create a features matrix and target array for our linear regression models.

In [305]:
#The North American Sales is the variable that is being predicted
df_five_explanatory = df_five.drop(['NA_Sales'],axis=1)
df_five_explanatory.head()

   EU_Sales  JP_Sales  Other_Sales    Year
0      0.44      0.09         0.21  2013.0
1      0.07      0.00         0.01  1997.0
2      1.14      0.00         0.31  2011.0
3      0.03      0.00         0.52  2008.0
4      0.01      0.09         0.01  1995.0

In [306]:
df_five['NA_Sales'].head()

0    0.56
1    0.10
2    1.40
3    0.72
4    0.01
Name: NA_Sales, dtype: float64

### 1.5. Features Matrix Scales

Calculate the standard deviation of each variable in your features matrix. Would we be able to interpret the magnitude of the slopes in any resulting linear regression model as an indication of how important the corresponding explanatory variable is when it comes to predict `NA_Sales`? Explain.

In [307]:
df_five['EU_Sales'].std()

0.48101186547230956

In [308]:
df_five['JP_Sales'].std()

0.16887870221242612

In [309]:
df_five['Other_Sales'].std()

0.20691627859736222

In [310]:
df_five['Year'].std()

4.62722628372171

Yes, the magnitude of the slopes in the resulting linear regression model can be used as an indiciation of how importnat the explanatory variable is to predict NA_Sales. However, it shouldn't be the only factor.

## 2. Elastic Net Models with Unscaled Features Matrix

Let's first build a few elastic net models with an $\alpha=0.9$, using our *unscaled* features matrix.

### 2.1. Elastic Net Slopes

By setting $\alpha=0.9$ (ie the $l1\_ratio=0.9$), would we expect our resulting elastic net linear regression slopes to look more like what a LASSO model would return or a ridge regression model?

With the l1 (Lasso) model ratio being heavily dominant, the elastic net linear regression slopes will look more like what a LASSO model would return.

### 2.2. Explanatory Variable Important in an Elastic Net Model

#### 2.2.1 All Zero Slopes

First, find a value of $\lambda$ in an elastic net model with $\alpha=0.9$ that will yield ALL slopes being equal to 0.

In [311]:
enm_all = ElasticNet(alpha = .51, l1_ratio = 0.9)
enm_all.fit(df_five_explanatory,df_five_response)
enm_all.score(df_five_explanatory, df_five_response)

0.0

In [312]:
df_slopes = pd.DataFrame({'enm_all':enm_all.coef_.T},index=df_five_explanatory.columns)
df_slopes

             enm_all
EU_Sales         0.0
JP_Sales         0.0
Other_Sales      0.0
Year            -0.0

#### 2.2.2 One Non-Zero Slopes

Find a value of $\lambda$ in an elastic net model with $\alpha=0.9$ that will yield ONE non-zero slope. What explanatory variable corresponds to this non-zero slope?

In [313]:
enm_1 = ElasticNet(alpha = .5, l1_ratio = 0.9)
enm_1.fit(df_five_explanatory,df_five_response)
enm_1.score(df_five_explanatory, df_five_response)

0.0

In [285]:
df_slopes = pd.DataFrame({'enm_1':enm_1.coef_.T},index=df_five_explanatory.columns)
df_slopes

                enm_1
EU_Sales     0.000638
JP_Sales     0.000000
Other_Sales  0.000000
Year        -0.000000

#### 2.2.3 Two Non-Zero Slopes

Find a value of $\lambda$ in an elastic net model with $\alpha=0.9$ that will yield TWO non-zero slopeS. What explanatory variableS corresponds to these non-zero slopes?

In [286]:
enm_2 = ElasticNet(alpha = .2, l1_ratio = 0.9)
enm_2.fit(df_five_explanatory,df_five_response)
enm_2.score(df_five_explanatory, df_five_response)

0.5751252782001434

In [287]:
df_slopes = pd.DataFrame({'enm_2':enm_2.coef_.T},index=df_five_explanatory.columns)
df_slopes

                enm_2
EU_Sales     0.260453
JP_Sales     0.000000
Other_Sales  0.006028
Year        -0.000000

#### 2.2.4 Three Non-Zero Slopes

Find a value of $\lambda$ in an elastic net model with $\alpha=0.9$ that will yield THREE non-zero slopes. What explanatory variables corresponds to these non-zero slopes?

In [288]:
enm_3 = ElasticNet(alpha = 0.039, l1_ratio = 0.9)
enm_3.fit(df_five_explanatory,df_five_response)
enm_3.score(df_five_explanatory,df_five_response)

0.694442911394312

In [289]:
df_slopes = pd.DataFrame({'enm_3':enm_3.coef_.T},index=df_five_explanatory.columns)
df_slopes

                enm_3
EU_Sales     0.352449
JP_Sales     0.000354
Other_Sales  0.074033
Year        -0.000000

### 2.3. Interpretation

When using an unscaled features matrix in an elastic net model with an $\alpha=0.9$, which explanatory variable is determined to bring:
* the most predictive power to the model, 
* the second most predictive power to the model, 
* the third most predictive power to the model, 
* the fourth most predictive power to the model?

The most predictive power: EU_Sales
2nd most: Other_Sales
3rd most: JP_Sales
4th most: Year

## 3. Elastic Net Models with Scales Features Matrix

Now let's build a few elastic net models with an $\alpha=0.9$, and a *scaled* features matrix.

### 3.1. Scaling the Features Matrix

First, z-score scale your features matrix.

In [291]:
scaler_full = StandardScaler()
scaled_expl_vars = scaler_full.fit_transform(df_five_explanatory)
df_five_explanatory = pd.DataFrame(scaled_expl_vars, columns=df_five_explanatory.columns)
df_five_explanatory.head()

   EU_Sales  JP_Sales  Other_Sales      Year
0  0.557583  0.155697     0.679615  1.327470
1 -0.212010 -0.377494    -0.287438 -2.132036
2  2.013569 -0.377494     1.163142  0.895032
3 -0.295209 -0.377494     2.178547  0.246374
4 -0.336809  0.155697    -0.287438 -2.564475

### 3.2. Explanatory Variable Important in an Elastic Net Model

#### 3.2.1 All Zero Slopes

First, find a value of $\lambda$ in an elastic net model (which uses the scaled features matrix) with $\alpha=0.9$ that will yield ALL slopes being equal to 0.

In [421]:
enm_all = ElasticNet(alpha = 0.9, l1_ratio = 0.9)
enm_all.fit(df_five_explanatory,df_five_response)
enm_all.score(df_five_explanatory, df_five_response)

0.0

In [422]:
df_slopes = pd.DataFrame({'enm_all':enm_all.coef_.T},index=df_five_explanatory.columns)
df_slopes

             enm_all
EU_Sales         0.0
JP_Sales         0.0
Other_Sales      0.0
Year            -0.0

#### 3.2.2 One Non-Zero Slopes

Find a value of $\lambda$ in an elastic net model (which uses the scaled features matrix) with $\alpha=0.9$ that will yield ONE non-zero slope. What explanatory variable corresponds to this non-zero slope?

In [429]:
enm_1 = ElasticNet(alpha = .9, l1_ratio = 0.1)
enm_1.fit(df_five_explanatory,df_five_response)
enm_1.score(df_five_explanatory, df_five_response)

0.00362356366953831

In [430]:
df_slopes = pd.DataFrame({'enm_1':enm_1.coef_.T},index=df_five_explanatory.columns)
df_slopes

                enm_1
EU_Sales     0.000000
JP_Sales     0.000000
Other_Sales  0.000000
Year        -0.003938

#### 3.2.3 Two Non-Zero Slopes

Find a value of $\lambda$ in an elastic net model (which uses the scaled features matrix) with $\alpha=0.9$ that will yield TWO non-zero slopeS. What explanatory variableS corresponds to these non-zero slopes?

In [445]:
enm_2 = ElasticNet(alpha = .9, l1_ratio = 0.04)
enm_2.fit(df_five_explanatory,df_five_response)
enm_2.score(df_five_explanatory, df_five_response)

0.03419440106053373

In [446]:
df_slopes = pd.DataFrame({'enm_2':enm_2.coef_.T},index=df_five_explanatory.columns)
df_slopes

                enm_2
EU_Sales     0.000000
JP_Sales     0.000000
Other_Sales  0.052488
Year        -0.006440

#### 3.2.4 Three Non-Zero Slopes

Find a value of $\lambda$ in an elastic net model (which uses the scaled features matrix) with $\alpha=0.9$ that will yield THREE non-zero slopes. What explanatory variables corresponds to these non-zero slopes?

In [447]:
enm_3 = ElasticNet(alpha = .9, l1_ratio = 0.02)
enm_3.fit(df_five_explanatory,df_five_response)
enm_3.score(df_five_explanatory, df_five_response)

0.04600673440813641

In [449]:
df_slopes = pd.DataFrame({'enm_3':enm_3.coef_.T},index=df_five_explanatory.columns)
df_slopes

                enm_3
EU_Sales     0.000000
JP_Sales     0.008629
Other_Sales  0.070867
Year        -0.007237

### 3.3. Interpretation

When using a scale features matrix in an elastic net model with an $\alpha=0.9$, which explanatory variable is determined to bring:
* the most predictive power to the model, 
* the second most predictive power to the model, 
* the third most predictive power to the model, 
* the fourth most predictive power to the model?

The most predictive power: Year 2nd most: JP_Sales 3rd most: Other_Sales 4th most: EU_Sales

## 4. Elastic Net Models with Scales Features Matrix

Now let's build a few elastic net models with an $\alpha=0.9$, and a *scaled* features matrix in which the `EU_Sales` variable has been additionally "downweighted". EU_Sales was deemed to bring a high amount of predictive power to the models in #2 and #3. Will it continue to do so when it's scale has been "downweighted"?

### 4.1. Downweighting the the EU_Sales Variable

Now, take your scaled features matrix and multiply the `EU_Sales` variable by 0.001.

In [450]:
df_five_explanatory['EU_Sales'] = df_five_explanatory['EU_Sales'] * 0.001

### 4.2. Explanatory Variable Important in an Elastic Net Model

#### 4.2.1 All Zero Slopes

First, find a value of $\lambda$ in an elastic net model (which uses this new features matrix) with $\alpha=0.9$ that will yield ALL slopes being equal to 0.

In [394]:
second_enm_all = ElasticNet(alpha=0.9, l1_ratio=0.3)
second_enm_all.fit(df_five_explanatory,df_five_response)
second_enm_all.score(df_five_explanatory, df_five_response)

0.0

In [395]:
df_slopes = pd.DataFrame({'second_enm_all':second_enm_all.coef_.T},index=df_five_explanatory.columns)
df_slopes

             second_enm_all
EU_Sales                0.0
JP_Sales                0.0
Other_Sales             0.0
Year                   -0.0

#### 4.2.2 One Non-Zero Slopes

Find a value of $\lambda$ in an elastic net model (which uses this new features matrix) with $\alpha=0.9$ that will yield ONE non-zero slope. What explanatory variable corresponds to this non-zero slope?

In [402]:
second_enm_one = ElasticNet(alpha=0.9, l1_ratio=0.1)
second_enm_one.fit(df_five_explanatory,df_five_response)
second_enm_one.score(df_five_explanatory, df_five_response)

0.00362356366953831

In [403]:
df_slopes = pd.DataFrame({'second_enm_one':second_enm_one.coef_.T},index=df_five_explanatory.columns)
df_slopes

             second_enm_one
EU_Sales           0.000000
JP_Sales           0.000000
Other_Sales        0.000000
Year              -0.003938

#### 4.2.3 Two Non-Zero Slopes

Find a value of $\lambda$ in an elastic net model (which uses this new features matrix) with $\alpha=0.9$ that will yield TWO non-zero slopeS. What explanatory variableS corresponds to these non-zero slopes?

In [415]:
second_enm_two = ElasticNet(alpha=0.9, l1_ratio=0.03)
second_enm_two.fit(df_five_explanatory,df_five_response)
second_enm_two.score(df_five_explanatory, df_five_response)

0.03944886701331907

In [416]:
df_slopes = pd.DataFrame({'second_enm_two':second_enm_two.coef_.T},index=df_five_explanatory.columns)
df_slopes

             second_enm_two
EU_Sales           0.000000
JP_Sales           0.000000
Other_Sales        0.061817
Year              -0.006856

#### 4.2.4 Three Non-Zero Slopes

Find a value of $\lambda$ in an elastic net model (which uses this new features matrix) with $\alpha=0.9$ that will yield THREE non-zero slopes. What explanatory variables corresponds to these non-zero slopes?

In [417]:
second_enm_three = ElasticNet(alpha=0.9, l1_ratio=0.01)
second_enm_three.fit(df_five_explanatory,df_five_response)
second_enm_three.score(df_five_explanatory, df_five_response)

0.052552240450048804

In [418]:
df_slopes = pd.DataFrame({'second_enm_three':second_enm_three.coef_.T},index=df_five_explanatory.columns)
df_slopes

             second_enm_three
EU_Sales             0.000000
JP_Sales             0.018198
Other_Sales          0.079734
Year                -0.007613

### 4.3. Interpretation

When using this new features matrix in an elastic net model with an $\alpha=0.9$, which explanatory variable is determined to bring:
* the most predictive power to the model, 
* the second most predictive power to the model, 
* the third most predictive power to the model, 
* the fourth most predictive power to the model?

Most Predicitive: Year, Second: Other_Sales, Third: JP_Sales, Fourth: EU_Sales

## 5. Learning Outcome

Do you think that the scale of the explanatory variables in the features matrix influences which explanatory variables are deemed to bring  "enough" predictive power to a regularization model?

Yes, the scale of explanatory variables in a feature matrix can influence the performance and behavior of regularization models depending on the amount of predictive power they bring.

## <u>Tip</u>

**If you plan to use a regularization model to interpret how much predictive power a given explanatory brings to a model, you should scale your explanatory variables first if they do not have relatively similar standard deviations!**